body {
	@include type('bodycopy');
	font-size: 	1.25rem;
	@include adapt(small) {
		font-size: 1rem;
	}
	line-height: 1.875;
	color: 	$dark;
	text-rendering: 		optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: 	grayscale;
	font-feature-settings: "kern" 1, "liga" 1, "onum" 1;
}


ul, ol {
	margin: 	1em auto;
	@include adapt(medium) {
		list-style-position: 	inside;
	}
	li {

	}
}




code {
	@include type('code');
	font-size: 0.75em;
}





blockquote {
	padding: 1em 0.5em 0.75em 1.5em;
	margin: 	1em auto;
	border-left: get($blockquote, 'border') solid $red;
	background: 	$lite;

	span {
		display: 	block;
		text-align: right;
		font-style: italic;
		opacity: 	0.7;
		font-size: 	0.9em;
		&::before {
			content: "—\0020";
		}
	}
}


.profile {
	width: 12em;
	margin: 0 1em 0em 0;
	float: left;
}


.swatch {
	display: inline-block;
	line-height: 1;
	width: 0.65em;
	height: 0.65em;
	margin: 0 0.125em;
	vertical-align: baseline;
}


figure {
	margin: 2em auto;
	border: 0.25em solid $medlite;
}

	figcaption {
		@include type('caption');
		background: 	$medlite;
		padding: 		0.25em;
		font-size: 		0.85em;
		line-height: 	1.5;

		p {
			margin-bottom: 	0;
		}
	}

