
h1, h2, h3, h4, h5, h6 {
	@include type('heading');
	line-height: 	1.2;
	margin: 	1.25em auto 0.25em auto;
	a {
		color: $blue;
		transition: 0.4s color ease;
		@include hover() {
			color: 	$dark;
		}
	}
}

h1 {
	font-size: 3.5em;
	@include adapt(medium) {
		font-size: 	2.5em;
	}
	@include adapt(small) {
		font-size: 	2em;
	}
}

h2 {
	font-size: 	1.75em;
}

h3 {
	font-size: 	1.25em;
}

h4 {
	font-size: 	1.125em;
}

h5 {
	font-size: 	1em;
}

h6 {
	font-size: 	0.85em;
}