a {
	text-decoration: none;

	p &, li & {
		border-bottom: 	0.125em solid $med;
	}

	&[href^="http"] {
		&::after {
			content: "\203A";
			margin: 0 0.25em;
		}
	}

	&[download] {
		&::after {
			content: "▼";
			margin: 0 0.25em;
		}
	}





	&[rel="prev"] {
		&::before {
			content: "\2190";
			margin: 0 0.25em;
		}
	}
	&[rel="next"] {
		&::after {
			content: "\2192";
			margin: 0 0.25em;
		}
	}
}