
p {
	margin: 0 auto 1em auto;
}


q:before { content: open-quote; }
q:after { content: close-quote; }


q {
	:lang(en) & {
		quotes: '“' '”';
	}
	:lang(fr) & {
		quotes: '«' '»';
	}

	:lang(de) & {
		quotes: '»' '«';
	}


}

i, em {
	font-style: 	italic;

	& & {
		font-style: 	normal;
	}
}

b, strong {
	font-weight: 	bold;

	& & {
		font-weight: normal;
	}
}

sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	top: 0.4em;
}

sub sup, sup sub {
	position: inherit;
	top: 	inherit;
	vertical-align: inherit;
	font-size: inherit;
}

abbr {
	@include type('abbr');
	@extend %small-caps;
	&[title]:not([title='']) {
		border-bottom: 0.0625em dotted $dark;
		cursor: help;
	}
}
