


$copy-width: 36rem;


$blockquote: (
	border: 0.5em
);

$breakpoints: (
	small: 		$copy-width,
	large: 		60rem
);

$media-queries: (
	small: (
		max: 'small'
	),
	medium: (
		max: 'large'
	),
	large: (
		min: 'large'
	)
);




