@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/***********************************

	AdamBlum.us

	Designed by Adam Blum
	Copyright 2014

***********************************/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box !important;
  color: inherit;
}

[hidden] {
  display: none !important;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Linux Libertine";
  src: url("/assets/fonts/LinuxLibertine.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Linux Libertine";
  src: url("/assets/fonts/LinuxLibertineItalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Gill Sans";
  src: local("Gill Sans"), local("GillSans");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gill Sans";
  src: local("Gill Sans Italic"), local("GillSans-Italic");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Gill Sans";
  src: local("Gill Sans Bold"), local("GillSans-Bold");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Andale Mono";
  src: local("Andale Mono"), local("AndaleMono");
  font-style: normal;
  font-weight: 400;
}
abbr {
  font-feature-settings: "c2sc" 1, "smcp" 1;
}

nav[role="navigation"], figcaption p::before {
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 0.85em;
}

.page-date, .post-date, .project-date, .page-byline, .post-byline, .project-byline, footer[role="contentinfo"] .copyright {
  font-feature-settings: "swsh" 1;
  font-style: italic;
}

.page-date::before, .post-date::before, .project-date::before, footer[role="contentinfo"] .copyright::before, .page-date::after, .post-date::after, .project-date::after, footer[role="contentinfo"] .copyright::after {
  content: "~";
  padding: 0 0.25em;
}

:root {
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1, "swsh" 1;
}

body {
  font-family: "Linux Libertine";
  line-height: 1.875;
  font-size: 1em;
  font-size: 1.25rem;
  color: #333;
}

p {
  margin: 0 auto 0.75em auto;
}

em, i {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

code {
  font-family: "Andale Mono";
  font-size: 0.85em;
}
p code, li code, td code {
  background-color: #E3E3E3;
}

ul, ol {
  list-style-position: outside;
}
@media only screen and (max-width: 60rem) {
  ul, ol {
    list-style-position: inside;
  }
}

ul {
  list-style-type: square;
}

a {
  text-decoration: none;
}
p a, li a, td a {
  transition: background-color 0.5s ease;
  border-bottom: 1px solid #2c90c6;
}
p a:hover, p a:focus, p a.active, li a:hover, li a:focus, li a.active, td a:hover, td a:focus, td a.active {
  background-color: #E3E3E3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gill Sans";
  line-height: 1.2;
  margin: 1.25em 0 0.25em 0;
}

h1 {
  font-size: 3.5em;
}
@media only screen and (min-width: 26rem) and (max-width: 38rem) {
  h1 {
    font-size: 2.5em;
  }
}
@supports (font-size: calc(2em + 4vw)) {
  h1 {
    font-size: calc(2em + 4vw);
  }
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.85em;
}

article {
  padding: 0 1em;
}
[role="main"] > article header h1, [role="main"] > article header p {
  text-align: center;
}
@media only screen and (max-width: 38rem) {
  [role="main"] > article header h1, [role="main"] > article header p {
    text-align: left;
  }
}

.page-date, .post-date, .project-date {
  margin: 1em auto;
}
.page-byline, .post-byline, .project-byline {
  text-align: right;
}
.page-content > p:first-of-type, .post-content > p:first-of-type, .project-content > p:first-of-type {
  font-size: 1.25em;
}
.post .page-content p:last-of-type:not(:only-of-type)::after, .post .post-content p:last-of-type:not(:only-of-type)::after, .post .project-content p:last-of-type:not(:only-of-type)::after {
  content: "\25A0";
  color: #E9372A;
  display: inline-block;
  margin-left: 0.25em;
}

section, footer {
  max-width: 34rem;
  margin: 0 auto;
}

nav[role="navigation"] {
  font-family: "Gill Sans";
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
  background-image: url("../vector/ABlogo.svg");
  background-position: 0.5rem 0.5rem;
  background-repeat: no-repeat;
  background-size: 2.5rem;
}
@media only screen and (min-width: 38rem) and (max-width: 60rem) {
  nav[role="navigation"] {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 26rem) {
  nav[role="navigation"] {
    font-size: 1em;
  }
}
@media only screen and (max-width: 38rem) {
  nav[role="navigation"] {
    background-position: center 0.5rem;
    padding-top: 3.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }
}
nav[role="navigation"] a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0.5em;
  margin: 0 0.5em;
  transition: color 0.5s ease;
}
nav[role="navigation"] a:hover, nav[role="navigation"] a:focus, nav[role="navigation"] a.active {
  color: #E9372A;
}
@media only screen and (max-width: 38rem) {
  nav[role="navigation"] a {
    max-width: 50%;
    margin: 0 auto 0.5rem auto;
    padding: 0.5em 0.75em;
  }
}

footer[role="contentinfo"] .copyright {
  text-align: center;
  margin: 2em auto 1em auto;
}

article {
  counter-reset: figure;
}

figure {
  margin: 2em auto;
}
figure.profile {
  max-width: 40%;
  float: left;
  margin: 0 1em 0 0;
  font-size: 0.85em;
}
article figure {
  counter-increment: figure;
  background-color: #f7f7f7;
}

figcaption {
  font-family: "Gill Sans";
  font-size: 0.85em;
  display: block;
  padding: 0.25em 0.5em;
}
figcaption p {
  margin-bottom: 0;
}
figcaption p::before {
  content: "Figure " counter(figure) ":";
  margin-right: 0.5em;
}
