$lite: #f7f7f7;
$medlite: darken($lite, 5%);
$med: darken($lite, 10%);
$meddark: darken($lite, 50%);
$dark: #333;

$blue: #2c90c6;
$red: #eb5448;
$green: #32956A;
$yellow: #C3DA3E;



$_colors: (
	blue: #2c90c6,
	red: #eb5448,
	green: #32956A,
	yellow: #C3DA3E
);