

$metadata: (
	author: 'Adam Blum',
	project: 'AdamBlum.us',
	year: '2014'
);





/*************************

	#{map-get($metadata, 'project')}

	Designed by #{map-get($metadata, 'author')}
	Copyright #{map-get($metadata, 'year')}

*************************/

