h1, h2, h3, h4, h5, h6 {
	@include type('heading');
	margin: 	1.25em 0 0.25em 0;
}

h1 {
	font-size: 3.5em;


	@include adapt('small') {
		font-size: 		2.5em;
	}

	@supports (font-size: calc(2em + 4vw)) {
		font-size: calc(2em + 4vw);
	}
}


h2 {
	font-size: 	1.75em;
}

h3 {
	font-size: 	1.25em;
}

h4 {
	font-size: 	1.125em;
}

h5 {
	font-size: 	1em;
}

h6 {
	font-size: 	0.85em;
}