*, *::before, *::after {
	margin: 		0;
	padding: 		0;
	font: 			inherit;
	box-sizing: 	border-box !important;
	color: 			inherit;
}

[hidden] {
	display: 		none !important;
}

img {
	display: block;
	max-width: 	100%;
}